# Environment
.env
__pycache__/
*.pyc
.dem
.rar
demos/
pgdata/
pg.log

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Download state
download_history.json
